.explorer-wrapper {
	width: 1200px;
	@apply ml-auto mr-auto relative;
	background: #fff;
	border-radius: 12px;
	box-shadow: 10px 5px 15px #524e4e;
	.dropdown-menu-button,.operation-button {
		padding: 10px 12px;
		border-radius: 6px;
		background-color: transparent;
		transition: all .3s;
		cursor: pointer;
		&:hover {
			background-color: #eaeaea;
		}
	}
	.dropdown-menu-button {
		@apply flex justify-start items-center;
		.button-name {
			padding: 0 4px;
		}
	}
	.operation-buttons {
		@apply flex items-center;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
		padding: 0 5px;
		.operation-button {
			display: block;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
.explorer-top-tools-wrapper {
	background-color: #f3f3f3;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom: 1px solid #e0e0e0;
	padding: 8px 10px;
	.tools-title {
		@apply flex justify-between items-center;
		.tools-title-left {
			@apply flex items-center;
		}
		.folder-name {
			padding-left: 4px;
		}
	}
	.tools-operation-wrap {
		margin-top: 12px;
	}
}
.explorer-top-search-wrapper {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	.search-operation-buttons {
		border-left: 0;
		border-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.navigation-wrap {
		@apply flex items-center;
	}
	.search-input-wrap {
		.n-input {
			.n-input-wrapper {
				padding-right: 0;
			}
		}
	}
}
.explorer-main-wrapper {
	@apply w-full relative flex justify-start items-start;
	.explorer-sidebar-wrapper {
		overflow: auto;
		width: 200px;
	}
	.explorer-container-wrapper {
		width: calc(100% - 200px);
		padding-right: 20px;
	}
}
.explorer-left-sidebar-wrapper {
	padding: 10px 15px;
	height: 100%;
	width: 100%;
	overflow: auto;
}
.explorer-right-files-container-wrapper {
	margin-top: 10px;
}